# PERSONAL DETAILS
home_latitude: xxxxxxxxxxxxxxxx
home_longitude: xxxxxxxxxxxxxxxx
home_elevation: xxxxxxxxxxxxxxxx
work_latitude: xxxxxxxxxxxxxxxx
work_longitude: xxxxxxxxxxxxxxxx
sunnys_email: xxxxxxxxxxxxxxxx

# WEBSERVER SETUP
hass_password: xxxxxxxxxxxxxxxx
base_url: xxxxxxxxxxxxxxxx
hass_ip: xxxxxxxxxxxxxxxx

# MQTT SERVER
mqtt_user: xxxxxxxxxxxxxxxx
mqtt_password: xxxxxxxxxxxxxxxx

# INFLUXDB SERVER
influx_host: xxxxxxxxxxxxxxxx
influx_user: xxxxxxxxxxxxxxxx
influx_password: xxxxxxxxxxxxxxxx

# PHILLIPS HUE
hue_ip: xxxxxxxxxxxxxxxx

# LASTFM
lastfm_api_key: xxxxxxxxxxxxxxxx

# WEATHER UNDERGROUND
wu_api_key: xxxxxxxxxxxxxxxx

# NEST THERMOSTAT
nest_client_id: xxxxxxxxxxxxxxxx
nest_client_secret: xxxxxxxxxxxxxxxx

# UPSTAIRS OSMC
osmc_bedroom_ip: xxxxxxxxxxxxxxxx
osmc_bedroom_username: xxxxxxxxxxxxxxxx
osmc_bedroom_password: xxxxxxxxxxxxxxxx

# MAIN OSMC
osmc_main_ip: xxxxxxxxxxxxxxxx
osmc_main_username: xxxxxxxxxxxxxxxx
osmc_main_password: xxxxxxxxxxxxxxxx

# SPOTIFY
spotify_client_id: xxxxxxxxxxxxxxxx
spotify_client_secret: xxxxxxxxxxxxxxxx

# GOOGLE
google_client_id: xxxxxxxxxxxxxxxx
google_client_secret: xxxxxxxxxxxxxxxx
google_api: xxxxxxxxxxxxxxxx

# IFTTT
ifttt_key: xxxxxxxxxxxxxxxx

# AUTOMATIC
automatic_client_id: xxxxxxxxxxxxxxxx
automatic_secret: xxxxxxxxxxxxxxxx
automatic_password: xxxxxxxxxxxxxxxx

# UBER
uber_server_token: xxxxxxxxxxxxxxxx

# LYFT
lyft_client_id: xxxxxxxxxxxxxxxx
lyft_secret: xxxxxxxxxxxxxxxx

# BROADLINK
broadlink_ip: xxxxxxxxxxxxxxxx
broadlink_mac_address: xxxxxxxxxxxxxxxx

# PUSHBULLET
pushbullet_api: xxxxxxxxxxxxxxxx

# SLACK
slack_api: xxxxxxxxxxxxxxxx
