# PERSONAL DETAILS
home_latitude: xxxxxxxxxxxxxxx
home_longitude: xxxxxxxxxxxxxxx
home_elevation: xxxxxxxxxxxxxxx
work_latitude: xxxxxxxxxxxxxxx
work_longitude: xxxxxxxxxxxxxxx
sunnys_email: xxxxxxxxxxxxxxx

# WEBSERVER SETUP
hass_password: xxxxxxxxxxxxxxx
base_url: xxxxxxxxxxxxxxx
hass_ip: xxxxxxxxxxxxxxx

# MQTT SERVER
mqtt_user: xxxxxxxxxxxxxxx
mqtt_password: xxxxxxxxxxxxxxx

# INFLUXDB SERVER
influx_host: xxxxxxxxxxxxxxx
influx_user: xxxxxxxxxxxxxxx
influx_password: xxxxxxxxxxxxxxx

# PHILLIPS HUE
hue_ip: xxxxxxxxxxxxxxx

# LASTFM
lastfm_api_key: xxxxxxxxxxxxxxx

# WEATHER UNDERGROUND
wu_api_key: xxxxxxxxxxxxxxx

# NEST THERMOSTAT
nest_client_id: xxxxxxxxxxxxxxx
nest_client_secret: xxxxxxxxxxxxxxx

# UPSTAIRS OSMC
osmc_bedroom_ip: xxxxxxxxxxxxxxx
osmc_bedroom_username: xxxxxxxxxxxxxxx
osmc_bedroom_password: xxxxxxxxxxxxxxx

# MAIN OSMC
osmc_main_ip: xxxxxxxxxxxxxxx
osmc_main_username: xxxxxxxxxxxxxxx
osmc_main_password: xxxxxxxxxxxxxxx

# SPOTIFY
spotify_client_id: xxxxxxxxxxxxxxx
spotify_client_secret: xxxxxxxxxxxxxxx

# GOOGLE
google_client_id: xxxxxxxxxxxxxxx
google_client_secret: xxxxxxxxxxxxxxx
google_api: xxxxxxxxxxxxxxx

# IFTTT
ifttt_key: xxxxxxxxxxxxxxx

# AUTOMATIC
automatic_client_id: xxxxxxxxxxxxxxx
automatic_secret: xxxxxxxxxxxxxxx
automatic_password: xxxxxxxxxxxxxxx

# UBER
uber_server_token: xxxxxxxxxxxxxxx

# LYFT
lyft_client_id: xxxxxxxxxxxxxxx
lyft_secret: xxxxxxxxxxxxxxx

# BROADLINK
broadlink_ip: xxxxxxxxxxxxxxx
broadlink_mac_address: xxxxxxxxxxxxxxx

# PUSHBULLET
pushbullet_api: xxxxxxxxxxxxxxx

# SLACK
slack_api: xxxxxxxxxxxxxxx

# HASS CONFIGURATOR
hass_configurator_url: xxxxxxxxxxxxxxx

# ABODE
abode_password: xxxxxxxxxxxxxxx

# ASUSWRT
asus_ip: xxxxxxxxxxxxxxx
asus_username: xxxxxxxxxxxxxxx
asus_password: xxxxxxxxxxxxxxx

# NZBGET
nzbget_ip: xxxxxxxxxxxxxxx
nzbget_username: xxxxxxxxxxxxxxx
nzbget_password: xxxxxxxxxxxxxxx

# LIFX
lifx_token: xxxxxxxxxxxxxxx

# DYSON
dyson_password: xxxxxxxxxxxxxxx
dyson_ip: xxxxxxxxxxxxxxx
dyson_id: xxxxxxxxxxxxxxx
